.main-locations {
  @apply pb-34;

  .location {
    @apply rounded-xl shadow-md shadow-gray-200;
    @apply flex;
    @apply p-3;
    @apply w-full;

    .map-icon-link {
      @apply flex;
      @apply h-8 md:h-10;
      @apply ml-4;
      @apply mt-2;
      @apply text-black;
      @apply w-8 md:w-10;
    }

    .category {
      @apply text-gray-500;
      @apply text-xs sm:text-sm;
    }

    .content {
      @apply flex flex-col;
      @apply flex-1;
    }

    .image {
      @apply object-fill;
      @apply mr-4;
      @apply rounded;
      @apply h-26;
      @apply w-26;
    }

    .title {
      @apply font-semibold;
      @apply text-sm sm:text-xl;

      overflow: hidden;
      white-space: no-wrap;
      text-overflow: ellipsis;
    }

    + .location {
      @apply mt-7;
    }
  }

  .location-list {
    @apply flex flex-col;
  }

  .map-link {
    @apply mt-2;
    @apply text-secondary;
    @apply text-xs sm:text-sm;
  }

  .title-link {
    @apply text-inherit;
  }
}
