.button {
  @apply bg-transparent;
  @apply border-none;
  @apply cursor-pointer;
  @apply inline-flex items-center;
  @apply no-underline;
  @apply p-0;
  @apply rounded-md;
  @apply select-none;
  @apply text-primary;
  @apply transition-all ease-in-out duration-400;

  animation: pop 0.35s ease-out;

  &:active:hover,
  &:active:focus {
    animation: none;
    transform: scale(0.85);
  }

  &[disabled] {
    @apply bg-gray-400;
    @apply pointer-events-none;
    @apply opacity-60;
  }

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.button-default {
  @apply py-1 px-2;
  @apply text-black;

  &:focus-visible {
    outline: 2px solid hsl(var(--nf));
    outline-offset: 2px;
  }
}

.button-link {
  &:hover {
    @apply underline;
  }
}

.button-primary {
  @apply bg-green-500;
  @apply py-3 px-6;
  @apply text-white;
  @apply uppercase;

  &:active,
  &:hover {
    @apply text-white;
  }

  &:focus-visible {
    @apply outline-primary;
  }
}
