.feedback-form {
  @apply max-w-90rem;
  @apply mx-0;

  .input {
    @apply block;
    @apply flex-shrink;
    @apply px-4;
    @apply rounded-md;
    @apply text-sm leading-loose;
    @apply transition ease-in-out duration-200;
    @apply w-full;
  }

  .input-group {
    @apply leading-relaxed;
    @apply mt-4;
  }

  .legend {
    @apply font-bold;
    @apply p-0;
    @apply my-6;
  }

  .input,
  .textarea {
    @apply border border-gray-400;
    @apply focus:shadow-md;
    @apply transition-all ease-in-out duration-150;
    @apply rounded-md;
  }

  .input,
  .rating,
  .textarea {
    @apply w-full;
  }

  .rating {
    @apply inline-flex;

    .icon {
      @apply cursor-pointer;
      @apply mr-6;
      @apply w-12;

      animation: rating-pop 0.25s ease-in;

      @media (prefers-reduced-motion: reduce) {
        animation: none !important;
      }
    }

    :where(input) {
      @apply bg-opacity-0;
      @apply -left-100vw absolute;
    }

    input:checked + .icon {
      @apply text-primary;
      @apply transition-all ease-in-out duration-300;
      @apply bg-opacity-20;

      transform: translateY(-0.25em);
    }
  }

  .textarea {
    @apply flex-shrink transition ease-in-out duration-200;
    @apply p-h-3;
    @apply min-h-30;
  }
}
