.check-in {
  @apply max-w-28rem;
  @apply mb-4;
  @apply mx-auto;
  @apply px-2;

  .button {
    @apply dark:bg-[#1A2238];
    @apply mb-2;
    @apply dark:outline-light-50;
  }

  .label {
    @apply flex-col;
    @apply justify-center;
    @apply dark:text-white;
    @apply text-sm;
  }

  .link {
    @apply decoration-current underline dark:text-white;
  }

  .icon {
    @apply block;
    @apply mx-auto;
    @apply h-12 w-12;

    + .label {
      margin-top: -0.8rem;
    }
  }

  .sub-label {
    @apply block;
    @apply mt-2;
    @apply text-base;

    animation: pop 0.35s ease-out;

    &.large {
      @apply pb-4;
      @apply text-lg;
    }

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  .time {
    @apply block;
    @apply font-normal;
    @apply text-gray-400 dark:text-gray-600;
    @apply text-sm;
  }
}
