:root {
  --logo-width: 5rem;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  @apply bg-gray-100;
  @apply mx-0.75;
  @apply py-0.5 px-2;
  @apply rounded-md;
  @apply text-gray-600;
}

body {
  @apply h-full;
  @apply w-full;
}

a {
  @apply text-green-500;
}

[hidden] {
  @apply hidden !important;
}

.logo {
  @apply inline-block;
  @apply text-current;
  @apply w-[var(--logo-width)];
}
